/patches/*
!/patches/dlls_winex11_drv_mouse_absolute_android.patch
!/patches/dlls_winex11_drv_window_c.patch
!/patches/ge-gamenative-firstpass/
!/patches/ge-gamenative-secondpass/
/patches/ge-wine-only-wrapper
!/patches/ge-wine-only-wrapper/
!/patches/ge-wine-only-wrapper/patches/
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/wine-wayland/
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/wine-wayland/0163-ntdll-Retrieve-and-cache-an-ntsync-device-in-wait-ca.patch
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/wine-wayland/0164-server-Add-an-object-operation-to-retrieve-an-in-pro.patch
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/wine-wayland/0165-ntsync-implementation.patch
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/wine-wayland/0166-Finish-up-ntsync-console-implementation.patch
!/patches/ge-wine-only-wrapper/patches/wine-hotfixes/wine-wayland/0172-ntdll-ntsync-remove-unused-variable-fix-datatypes.patch
